// @import url('https://fonts.googleapis.com/css?family=Calibri:400,700,400italic,700italic&display=swap');

@font-face {
  font-family: 'Calibri';
  src: local('Calibri Bold'), local('Calibri-Bold'),
      url('./../../assets/fonts/Calibri-Bold.woff2') format('woff2'),
      url('./../../assets/fonts/Calibri-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: local('Calibri'),
      url('./../../assets/fonts/Calibri.woff2') format('woff2'),
      url('./../../assets/fonts/Calibri.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: local('Calibri Italic'), local('Calibri-Italic'),
      url('./../../assets/fonts/Calibri-Italic.woff2') format('woff2'),
      url('./../../assets/fonts/Calibri-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: $primary;
  color: $white;
}
::-moz-selection {
  background-color: $primary;
  color: $white;
}

p:last-child {
  margin-bottom: 0;
}

a,
button {
  transition: 300ms ease;
}

a:hover {
  text-decoration: none;
}

.title {
  color: $color-08;
  font-family: $headings-font-family;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: rem(0.67px);
  margin: 0;
  text-transform: uppercase;

  .material-icons {
    color: $primary;
    font-size: rem(22px);
    margin-right: rem(5px);
    vertical-align: middle;
  }
}

.title--xs {
  font-size: rem(14px);
  letter-spacing: rem(0.88px);
}

.title--s {
  font-size: 1rem;
  letter-spacing: rem(0.67px);
}

.title--m {
  font-size: rem(18px);
  letter-spacing: rem(0.75px);
}

.title--l {
  font-size: rem(20px);
  letter-spacing: rem(0.5px);
  line-height: 1.2;
}

.title--xl {
  font-size: rem(22px);
  font-weight: 400;
  letter-spacing: rem(0.92px);
}

.title--border {
  padding-left: 25px;
  position: relative;

  &:before {
    background-color: $primary;
    border-radius: 2px;
    bottom: 7px;
    content: '';
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
  }
}

.label {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text {
  font-size: rem(15px);
  letter-spacing: rem(0.63px);

  // h1,
  // h2,
  // h3,
  // h4,
  // h5,
  // h6 {
  //   color: $secondary;
  //   letter-spacing: 0.75px;
  //   margin: 0;
  // }

  // h1,
  // h2 {
  //   font-family: $headings-font-family;
  //   font-size: 30px;
  //   margin-bottom: 1.15em;
  //   position: relative;

  //   &:before {
  //     background-color: $primary;
  //     border-radius: 2px;
  //     bottom: 9px;
  //     content: '';
  //     left: -25px;
  //     position: absolute;
  //     top: 9px;
  //     width: 3px;
  //   }
  // }

  // h3 {
  //   font-family: $headings-font-family;
  //   font-size: 22px;
  // }

  // h4 {
  //   font-size: 18px;
  // }

  // h5,
  // h6 {
  //   font-size: 1em;
  // }

  blockquote {
    color: $color-04;
    font-size: rem(17px);
    letter-spacing: rem(1.06px);
    margin: 1.5rem 0;
    padding-right: rem(50px);
    position: relative;
    text-transform: uppercase;

    &:after {
      background-image: url('../../assets/images/quote.svg');
      background-size: 100% auto;
      bottom: rem(8px);
      content: '';
      height: rem(17px);
      position: absolute;
      right: 0;
      width: rem(24px);
    }
  }

  strong {
    font-weight: 700;
  }

  ol,
  ul {
    list-style: none;
    margin: rem(0 0 0 10px);
    padding: 0;
  }

  // h1,
  // h2,
  // h3,
  // h4,
  // h5,
  // h6,
  // p,
  // ol,
  // ul,
  // li {
  //   &:last-child {
  //     margin-bottom: 0;
  //   }
  // }

  img {
    display: block;
    height: auto;
    margin: 2em 0;
    max-width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  li {
    margin-bottom: 1em;
    padding-left: rem(25px);
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul li {
    &:before {
      color: $primary;
      content: '•';
      display: block;
      left: 0;
      position: absolute;
      top: -2px;
    }
  }

  ol {
    counter-reset: item;

    li:before {
      color: $primary;
      content: counter(item) '. ';
      counter-increment: item;
      left: 0;
      position: absolute;
      top: 1px;
    }
  }

  // /* == WordPress WYSIWYG Editor Styles == */

  // .alignleft, img.alignleft {
  //   margin-right: 1.5em;
  //   display: inline;
  // }

  // .alignright, img.alignright {
  //   margin-left: 1.5em;
  //   float: right;
  // }

  // .aligncenter, img.aligncenter {
  //   margin-right: auto;
  //   margin-left: auto;
  //   display: block;
  //   clear: both;
  // }

  // .wp-caption {
  //   margin-bottom: 1.5em;
  //   text-align: center;
  //   padding-top: 5px;
  // }

  // .wp-caption img {
  //   border: 0 none;
  //   padding: 0;
  //   margin: 0;
  // }

  // .wp-caption p.wp-caption-text {
  //   line-height: 1.5;
  //   font-size: 10px;
  //   margin: 0;
  // }

  // .wp-smiley {
  //   margin: 0 !important;
  //   max-height: 1em;
  // }

  // blockquote.left {
  //   margin-right: 20px;
  //   text-align: right;
  //   margin-left: 0;
  //   width: 33%;
  //   float: left;
  // }

  // blockquote.right {
  //   margin-left: 20px;
  //   text-align: left;
  //   margin-right: 0;
  //   width: 33%;
  //   float: right;
  // }
}

.text--smaller {
  font-size: rem(13px);
}

.color-gray {
  color: rgba($body-color, 0.5);
}

.text--font-inherit {
  font-size: inherit;
  line-height: 1.25;
  transition: font-size 100ms;
}

.text-decoration-underline {
  text-decoration: underline;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
