.accordion {
  background-color: $white;
  box-shadow: 0 20px 30px 0 rgba($black, 0.15);
  padding: 20px 45px;
  @include mq($until: 600px) {
    padding: 10px 20px;
  }
}

.accordion__card {
  border: 0;
  border-radius: 0;
  &:first-child .accordion__header {
    border-top: 0;
  }
  &:last-child .accordion__header {
    border-bottom: 0;
  }
}

.accordion__header {
  border-bottom: 1px solid rgba(215, 215, 215, 0.25);
  border-top: 1px solid rgba(215, 215, 215, 0.25);
  margin-bottom: -1px;
  padding: 20px 0;
}

.accordion__button {
  color: $secondary;
  display: block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.13px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  padding-right: 50px;

  @include mq($until: 600px) {
    font-size: 14px;
  }

  &:hover {
    color: $primary;
  }

  &:after {
    @extend .material-icons;
    color: $primary;
    content: 'remove';
    margin-top: -12px;
    position: absolute;
    top: 50%;
    transform: rotate(180deg);
    transition: 300ms ease;
    right: 0;
    position: absolute;
  }

  &.collapsed:after {
    content: 'add';
    transform: rotate(0deg);
  }
}

.accordion__text {
  max-width: 770px;
  padding: 25px 0;
  @include mq($until: 600px) {
    font-size: 14px;
  }
}
