.card-index {
  margin: 0 auto;
  max-width: 270px;
  text-align: center;
}

.card-index__image {
  padding-left: 35px;
  position: relative;
}

.card-index__number {
  background-color: $primary;
  bottom: 0;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $headings-font-family;
  font-size: 40px;
  font-weight: 700;
  height: 70px;
  left: 0;
  position: absolute;
  width: 70px;
}

.card-index__content {
  margin-top: 25px;
  padding: 0 15px;
}

.card-index__text {
  margin-top: 20px;
}
