.card-post {
  background-color: $white;
  box-shadow: 0 20px 40px 0 rgba($black, 0.1);
  padding-top: 180px;
  position: relative;

  @include mq($from: 375px) {
    padding-top: 220px;
  }

  @include mq($from: large) {
    height: 220px;
    padding-left: 220px;
    padding-top: 0;
  }
}

.card-post__image {
  height: 180px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  
  img{
    width: 100%;
  }

  @include mq($from: 375px) {
    height: 220px;
  }

  @include mq($from: large) {
    height: 100%;
    width: 220px;
  }

}

.card-post__content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  padding: 15px 20px;
  padding-right: 50px;
  position: relative;

  @include mq($from: large) {
    padding: 30px;
    padding-right: 65px;
  }
}

.card-post__date {
  color: $body-color;
  margin-bottom: 10px;

  @include mq($from: large) {
    margin-bottom: 15px;
  }
}

.card-post__title {
  line-height: 1.7;
}

.card-post__button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  @include mq($from: large) {
    display: none;
  }

  @include mq($from: laptop) {
    display: block;
  }
}
