.terms {
  background-color: $white;
  border-radius: rem(10px 10px 0 0);
  margin-top: rem(-10px);
}

.terms--general {
  border-radius: rem(10px);
  box-shadow: 0 10px 20px 0 rgba($black, 0.2);
  margin: 0;
}

.terms__list {

}

.terms__item {

}
